<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ikun.yc.ycpage.mapper.MiniUsersMapper">

    <resultMap id="BaseResultMap" type="ikun.yc.ycpage.entity.MiniUsers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="loginCount" column="login_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isSubscribe" column="is_subscribe" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,nickname,
        avatar_url,create_time,update_time,
        last_login_time,login_count,status,
        is_subscribe
    </sql>
</mapper>
