<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ikun.yc.ycpage.mapper.ToDoItemsMapper">
    <sql id="tableName">
        to_do_items
    </sql>

    <sql id="baseColumn">
        id,user_id,item_type,content,completed,number_of_recurrences,creation_time,update_time
    </sql>

</mapper>